head
  title C-block
  link(rel="stylesheet", href="./index.min.css")
  link(rel="shortcut icon" href="./images/favicon.ico")
  link(type="image/png" sizes="16x16" rel="icon" href="./images/favicon-16x16.png")
  link(type="image/png" sizes="32x32" rel="icon" href="./images/favicon-32x32.png")
  link(sizes="76x76" rel="apple-touch-icon" href="./images/apple-touch-icon.png")
  meta(content="width=device-width, initial-scale=1" name="viewport")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  script(src="./bodyScrollLock.min.js")
