doctype html
html
  include ../../includes/head
  body
    script(src="./theme.js")
    include ../../includes/background/background
    include ../../includes/header/header
    main
      include ../../includes/preview/preview
      include ../../includes/advantages/advantages
      include ../../includes/steps/steps
      include ../../includes/about/about
      include ../../includes/team/team
      include ../../includes/partners/partners
    include ../../includes/footer/footer
    script(src="./bg.js")
    script(src="./index.js")