footer.footer
  div.container.footer-container
    include ../../components/logo/logo
    +logo('footer-logo')
    include ../../components/socialLinks/socialLinks
    +socialLinks('footer-links')
    p.footer-copyright © Copyright C-Block 2021