mixin socialLinks(className)
  ul(class=`social-links ${className}`)
    li.social-link
      a(href="#" target="_blank")
        i.icon-twitter
    li.social-link
      a(href="#" target="_blank")
        i.icon-linkedin
    li.social-link
      a(href="#" target="_blank")
        i.icon-discord
    li.social-link
      a(href="#" target="_blank")
        i.icon-telegram