div.background
  div.background-circle.background-circle--left
    img(class="background-circle--left-dark" src="./images/circle-gradient--dark.png")
    img(class="background-circle--left-light" src="./images/circle-gradient--light.png")
  div.background-circle.background-circle--right
    img(class="background-circle--left-dark" src="./images/circle-gradient--dark.png")
    img(class="background-circle--left-light" src="./images/circle-gradient--light.png")

  div#bg-nodes