*,
::after,
::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Exo", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
}
