.preview {
  padding: 30px 0;
}

.preview-container {
  // position: relative;
}

.preview-info {
  position: relative;
  text-align: center;

  &--label {
    position: relative;
    margin-bottom: 20px;
  }

  &--title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 30px;
  }

  &--link {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 30px;
    border-radius: 120px;
    background: var(--primary-gradient);
    color: var(--preview-btn-color);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color var(--default-transition-ms), color var(--default-transition-ms);

    &-arrow {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      margin-left: 20px;
      border-radius: 50%;
      background-color: var(--preview-btn-arrow-bg);
      transition: transform var(--default-transition-ms), background-color var(--default-transition-ms);

      path {
        stroke: var(--preview-btn-arrow-color);
      }
    }

    &:hover {
      .preview-info--link-arrow {
        transform: translateX(3px);
      }
    }
  }
}

.preview-img {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@include for-desktop-sm {
  .preview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
  }

  .preview-container {
    display: flex;
    height: 100%;
  }

  .preview-info {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding-top: 0;

    &--label {
      font-size: 18px;
    }

    &--title {
      margin-bottom: 30px;
      font-size: 56px;
    }
  }

  .preview-img {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    right: 0;
    width: 50%;
    height: 90%;
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
