section.section.preview
  div.container.preview-container
    div.preview-info
      span.preview-info--label
        span.preview-info--triangle
        img(src="./images/fire.svg" alt="Coming soon" class="preview-info--label-fire")
        | Coming Soon
      h1.preview-info--title.primary-text-fill Create your smart contract without coding
      a.preview-info--link(href="#") Go to platform
        span.preview-info--link-arrow
          svg(width="18" height="13" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M11.296 1.84 16 6.546l-4.704 4.705M10.864 6.545h-9.41" stroke-width="2" stroke-linecap="round")

    div.preview-img