.team-title {
  margin-bottom: 20px;
}

.team-subtitle {
  max-width: 850px;
  margin: 0 auto 40px auto;
  color: var(--card-text-color);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.team-member {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &--photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 0 auto 25px auto;
    border-radius: 50%;
    pointer-events: none;

    background-image: linear-gradient(90deg, #28B800 -0.71%, #F5E30C 100%);
    background-clip: content-box, border-box;
    background-origin: border-box;

    img {
      width: 95%;
      height: 95%;
      border-radius: 50%;
    }
  }

  &--name {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
  }

  &--position {
    display: block;
    margin-bottom: 20px;
    color: var(--member-position-color);
    font-weight: 400;
    font-size: 14px;
  }

  &--social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 12px;

    &-item {
      transition: var(--default-transition-ms) transform;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        transform: translateY(-2px);
      }
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: var(--social-bg);
      color: var(--social-color);
    }
  }

  &--about {
    max-width: 850px;
    margin: 0 auto;
    color: var(--card-text-color);
    font-size: 16px;
    line-height: 21px;
  }
}

@include for-desktop-sm {
  .team-members {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 800px;
    margin: 0 auto;
  }

  .team-member {
    $offset: 100px;

    flex-basis: calc(50% - 50px);

    &:nth-child(odd) {
      margin-right: 100px;
    }

    &--name {
      font-size: 24px;
    }

    &--photo {
      width: 190px;
      height: 190px;

      img {
        width: 97%;
        height: 97%;
      }
    }
  }
}