@use "sass:math";

body[data-theme="dark"] {
  @include for-desktop-sm {
    .advantages-bg--left-dark,
    .advantages-bg--right-dark {
      display: block;
    }
    .advantages-bg--left-light,
    .advantages-bg--right-light {
      display: none;
    }
  }
}

body[data-theme="light"] {
  @include for-desktop-sm {
    .advantages-bg--left-dark,
    .advantages-bg--right-dark {
      display: none;
    }
    .advantages-bg--left-light,
    .advantages-bg--right-light {
      display: block;
    }
  }
}

.advantages {
  position: relative;
  .advantages-title {
    @include for-desktop-sm {
      margin-bottom: 75px;
    }
    margin-bottom: 25px;
  }
}

.advantages-container {
  position: relative;
}

.advantages-bg {
  display: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 50px;
}

.advantages-item {
  position: relative;
  flex-basis: 100%;
  padding: 60px 20px 20px 20px;
  border-radius: var(--default-border-radius);
  background: var(--card-bg);
  transition: var(--default-transition-ms) background-color, var(--default-transition-ms) color;

  &--title, &--description {
    text-align: center;
  }

  &--title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
  }

  &--description {
    color: var(--card-text-color);
    font-size: 16px;
    line-height: 21px;
  }

  &:not(:last-child) {
    margin-bottom: 60px;
  }

  &:before {
    content: "";
    position: absolute;
    top: calc(-92px / 2);
    left: calc(50% - 92px / 2);
    display: block;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background: var(--card-bg-before);
    transition: inherit;
  }

  &--img {
    position: absolute;
    top: calc(-82px / 2);
    left: calc(50% - 82px / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 82px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 50%;
    background: var(--advantage-img-bg);

    path {
      fill: var(--advantage-img-fill);
    }
  }
}

@include for-tablet-big {
  .advantages-item {
    flex-basis: calc(50% - 10px);

    &:nth-child(odd) {
      margin-right: 20px;
    }

    &:last-child {
      margin: 0 auto;
    }
  }
}

@include for-desktop-sm {
  .advantages-bg {
    position: absolute;
    pointer-events: none;
  }

  .advantages-bg--right {
    &-dark {
      bottom: -25%;
      right: -12%;
      width: 600px;
    }

    &-light {
      bottom: -20%;
      right: -3%;
      width: 295px;
    }
  }

  .advantages-bg--left {
    &-dark {
      bottom: 0;
      left: -25%;
      width: 600px;
    }

    &-light {
      bottom: 10%;
      left: -10%;
      width: 295px;
    }
  }

  .advantages-item {
    $offset: 40px;
    $divValue: math.div($offset * 2, 3);

    flex-basis: calc(33.333% - #{$divValue});
    align-self: stretch;
    padding: 80px 20px 40px 20px;

    &:nth-child(odd) {
      margin-right: 0;
    }

    &:not(:nth-child(3n)) {
      margin-right: $offset;
    }

    &:not(:last-child) {
      margin-bottom: 100px;
    }

    &:last-child {
      flex-basis: 60%;
      margin: 0 auto;
      border: 2px solid #9DDA46;

      &:before {
        border: 2px solid #9DDA46;
      }
    }

    &--img {
      top: -53px;
      left: calc(50% - 53px);
      width: 106px;
      height: 106px;

      svg {
        transform: scale(1.2);
      }
    }

    &:before {
      top: -65px;
      left: calc(50% - 65px);
      width: 130px;
      height: 130px;
    }

    &--title {
      margin-bottom: 15px;
      font-size: 24px;
    }
  }
}

@include for-desktop {
  .advantages-bg--left {
    &-dark {
      bottom: 0;
      left: -25%;
      width: 600px;
    }

    &-light {
      bottom: 10%;
      left: -10%;
      width: 295px;
    }
  }
}
