section.section.about
  div.container
    h2.section-title.primary-text-fill.about-title About CELO Blockchain
    div.about-wrap
      p.about-paragraph Celo is a mobile-first platform that makes financial dApps and crypto payments accessible to anyone with a mobile phone Mobile. Open. Real.
      p.about-paragraph Celo's mission is to build a financial system that creates the conditions for prosperity—for everyone <br /> The Celo platform is proof-of-stake, EVM-compatible, open source, and governed by CELO asset owners