section.section.about
  div.container
    h2.section-title.about-title
      span.primary-text-fill WHAT IS CELO?
    div.about-wrap.about-wrap--celo
      p.about-paragraph Celo is a mobile-first platform that makes financial dApps and crypto payments accessible to anyone with a mobile phone with LOW Gas Fee’s. Celo's mission is to build a financial system that creates the conditions for prosperity—for everyone The Celo platform is proof-of-stake, EVM-compatible, open source, and governed by CELO asset owners
section.section.about-wrap.about-wrap--block
  div.container
    h2.section-title.about-title
      span.primary-text-fill WHAT IS c-BLOCK?
    div.about-wrap
      p.about-paragraph c-BLOCK is a smart contract generator that enables users with no coding experience to generate smart contracts built on the Celo Blockchain.
