.plug {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgba(0, 0, 0, 1);
}

.plug-title {
  background-image: linear-gradient(90deg, #28B800 -0.71%, #F5E30C 100%);
  -webkit-background-clip: text;
  font-size: 70px;
  text-align: center;
  -webkit-text-fill-color: transparent;
}

.plug-logo {
  display: block;
  width: 225px;
  margin-bottom: 35px;
  pointer-events: none;
}
