body[data-theme="light"] .step-icon-path {
  fill: #79C70A;
}

.steps-title {
  @include for-desktop-sm {
    margin-bottom: 55px;
  }
  margin-bottom: 30px;
}

.step-item {
  &:not(:last-child) {
    margin-bottom: 20px;

    .step-img {
      border: 3px solid var(--step-icon-border-color);
      transition: var(--default-transition-ms) border-color;
    }
  }
}

.steps {
  position: relative;
}

.step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.step-img {
  $size: 72px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  border-radius: 50%;
}

.step-name {
  margin-top: 5px;
  color: var(--card-text-color);
  font-size: 16px;
  transition: var(--default-transition-ms) color;
}

.step-arrow {
  &--mobile {
    display: block;
    margin: 10px auto 0 auto;
  }
  &--desktop {
    display: none;
  }
}

@include for-desktop-sm {
  .steps-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    width: 930px;
    margin: 0 auto;
    background-image: url("./images/steps-arrow-connective.svg");
    background-position: center 35%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .step-content {
    flex-direction: row;
  }

  .step-arrow--mobile {
    display: none;
  }

  .step-item {
    padding-right: 20px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      flex-basis: 35%;
    }
    &:nth-child(3) {
      flex-basis: 30%;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
      .step-arrow--desktop {
        display: block;
        flex-grow: 1;
        margin-left: 20px;
        background-repeat: no-repeat;
      }
    }

    &:nth-child(4) {
      .step-name {
        max-width: 90%;
      }
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4) {
      .step-arrow--desktop {
        height: 20px;
        background-image: url("./images/steps-desktop-arrow.svg");
        background-position: center;
        background-size: 100%;
      }
    }

    &:nth-child(5) {
      .step-arrow--desktop {
        position: relative;
        top: -15px;
        height: 35px;
        background-image: url("./images/steps-desktop-up-arrow.svg");
        background-position: center;
        background-size: 100%;
      }
    }

    &:nth-child(6) {
      top: -105px;
      left: -20px;

      .step-content {
        align-items: flex-start;
      }

      .step-name {
        flex-basis: auto;
        margin-left: 10px;
      }
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-bottom: 230px;

      .step-name {
        margin-top: 10px;
      }
    }

    &:nth-child(4),
    &:nth-child(5) {
      .step-name {
        order: 1;
        margin-bottom: 10px;
      }
      .step-img {
        order: 2;
      }
      .step-arrow--desktop {
        order: 3;
      }
    }

    &:nth-child(4) {
      margin-left: 15%;
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      position: relative;
      flex-basis: calc(33.3% - 15% / 3);
    }

    &:nth-child(4),
    &:nth-child(5) {
      top: -40px;
    }

    // name center align
    &:nth-child(1) .step-name {
      left: -3%;
    }

    &:nth-child(2) .step-name {
      left: -9%;
    }

    &:nth-child(3) .step-name {
      left: -6%;
    }

    &:nth-child(4) .step-name {
      left: -30%;
      text-align: center;
    }

    &:nth-child(5) .step-name {
      left: -35%;
      text-align: center;
    }
  }

  .step-content {
    flex-wrap: wrap;
    align-items: center;
  }

  .step-name {
    flex-basis: 100%;
    margin-left: 0;
    position: relative;
  }
}

@include for-desktop {
  .steps-list {
    width: 100%;
    background-position: center 60%;
    background-size: 95%;
  }

  .step-item {
    &:nth-child(4) {
      margin-left: 17%;
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      flex-basis: calc(33.3% - 17% / 3);
    }

    &:nth-child(4),
    &:nth-child(5) {
      top: 0;
    }

    &:nth-child(6) {
      top: -70px;
      left: -20px;
    }
  }
}
