
.icon-chevron:before { content: '\e7e0'; } /* '' */
.icon-discord:before { content: '\e803'; } /* '' */
.icon-medium:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-linkedin:before { content: '\e806'; } /* '' */
.icon-telegram:before { content: '\e807'; } /* '' */
